{% extends "base.html" %}
{% load static %}

{% block title %}
5A级景区
{% endblock %}

{% block content %}
<!-- 广告横幅 -->
<div class="container">
    <div class="row">
        <img class="img-responsive model-img" src="{% static 'img/img2.jpg' %}">
    </div>
</div>
<!-- 主体内容 -->
<div class="container">
    <div class="row row-3">
        <!-- 侧边导航栏 -->
        <div class="col-md-3">
            <div class="model-title">
                <h3>旅游景点</h3>
            </div>
            <div class="model-list">
                <ul class="list-group">
                    <li class="list-group-item" id="survey">
                        <a href="{% url 'aboutApp:survey' %}"><h4>5A级景区</h4></a>
                    </li>
                    <li class="list-group-item" id="honor">
                        <a href="{% url 'aboutApp:honor' %}"><h4>精彩推荐</h4></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 说明文字和图片 -->
        <div class="col-md-9">
            <div class="model-details-title">
                <h3 style="text-align:center">5A级景区</h3>
            </div>
            <div class="model-details">
                <img class="img-responsive" src="{% static 'img/img1.jpg' %}">

                    <h4>天生丽质的重庆,不仅拥有风景独特的自然景观,还有底蕴深厚的文化内涵,这在6个5A级景区中表现得酣畅淋漓:千年的大足石刻、秀丽的小三峡、奇特的武隆喀斯特、静谧的桃花源、俊秀的黑山谷、深幽的神龙峡。</h4>
                    <hr />
                    <h3>大足石刻</h3>
                    <p>大足石刻是唐末宋初时期的摩崖石刻,以佛教题材为主,其中以宝顶山摩崖造像和北山摩崖造像最为著名。大足石刻是中国著名的古代石刻艺术,1999年被列为世界文化遗产。
                    大足石刻最初开凿于初唐永徽元年,历经晚唐、五代,盛于两宋,明清时期亦有所增刻,最终形成了一处规模庞大,集中国石刻艺术精华之大成的石刻群,其内容为释、儒、道三教合一,堪称中国晚期石窟艺术的代表。
                    2007年初,重庆大足石刻景区顺利通过国家旅游局的验收,成为全国首批5A级旅游景区。<p/>
                    <br />
                    <h3>巫山小三峡</h3>
                    <p>巫山小三峡由龙门峡、巴雾峡、滴翠峡组成,全长50公里。她一池碧水,奇峰壁立,竹木葱茏,猿声阵阵,饶有野趣。小三峡的特色是秀美、神奇。有人认为它有六奇,即山奇雄、水奇清、峰奇秀、滩奇险、景奇幽、石奇美,可称为“天下奇峡”。巫山小三峡长50公里,林木翠竹幅员面积18000亩,与长江大三峡风景区毗邻,是国家重点名胜风景区,1991年被评为“中国旅游胜地四十佳”。<p/>
                    <br />
                    <h3>武隆喀斯特</h3>
                    <p>武隆县位于四川盆地东南边缘,地处大娄山、武陵山与贵州高原的过渡地带,长江右岸支流乌江下游峡谷区,由于受碳酸盐岩与砂页岩不同岩性分布的影响,产生了喀斯特地貌。数亿年来孕育出了鬼斧神工般具有独特美学价值的自然景观,天下第一洞——芙蓉洞、亚洲最大的天生桥群、全世界罕见而稀有喀斯特系统形成的后坪天坑,是大自然的造化留给人类的瑰宝。<p/>
                    <br />
                    <h3>酉阳桃花源</h3>
                    <p>桃花源总面积50平方公里,由世外桃源、伏羲洞、桃花源国家森林公园、桃花源广场、酉州古城、二酉山六大部分组成。
                    桃花源集秦晋历史文化、土家民俗文化、自然生态文化、天坑溶洞地下河共生岩溶地质奇观于一体,距重庆主城340公里、距湖南长沙430公里,有舟北机场、渝怀铁路、渝湘高速公路、319国道等二级公路与外界相连,交通条件十分便捷。桃花源风景区与陶渊明笔下描述的“世外桃源”毫厘不爽,极其吻合。<p/>
                    <br />
                    <h3>万盛黑山谷</h3>
                    <p>万盛黑山谷景区山高林密、溪河纵横、人迹罕至,保存着地球上同纬度为数不多的亚热带和温带完好的自然生态,森林覆盖率达97%,被专家誉为“渝黔生物基因库”,是目前重庆地区最大、原始生态保护最完好的自然生态风景区。
                    黑山谷景区原始生态风景由峻岭、峰林、幽峡、峭壁、森林、林海、飞瀑、碧水、溶洞、栈道、浮桥、云海、田园、原始植被、珍稀动植物等200多个景点景观组成。<p/>
                    <br />
                    <h3>南川金佛山神龙峡 </h3>
                    <p>神龙峡地处金佛山以西,境内山地属大娄山余脉。神龙峡是经过上亿年的地壳运动挤压出来的原生态峡谷,山体多在海拔1300米以上,其中最高峰豹子岭海拔1380米,是距离重庆主城区延伸最近、最原始的一条生态峡谷。
                    神龙峡谷全长约4.2公里。峡内林深竹茂、流水飞瀑、峰峦绝壁、虫鸣鸟唱。峡谷两岸植被多为灌木、竹林,植物较为丰富。森林覆盖率达90%以上,有植物种类1700余种。<p/>
                    <br />
                    <h3>白帝城·瞿塘峡景区</h3>
                    <p>白帝城·瞿塘峡景区，位于重庆市奉节县瞿塘峡口长江北岸的白帝山上，地处长江三峡西入口，东望夔门，南与白盐山隔江相望，西接奉节县城，北倚鸡公山，距奉节县城东10余千米。 
                    白帝城·瞿塘峡景区总面积4.7平方千米，主要由白帝城、瞿塘峡两大景区构成，名胜古迹众多，融自然与人文、诗情与战火为一体，是饱览长江三峡壮丽之美的起点。 
                    1982年，白帝城·瞿塘峡景区被批准为长江三峡国家重点风景名胜区。2021年，奉节县白帝城被评为重庆市首批历史名园。 2022年7月，白帝城·瞿塘峡景区被评定为国家AAAAA级旅游景区。2022年12月16日，重庆奉节白帝城·瞿塘峡景区正式授牌国家5A级旅游景区。<p/>
                    <br />
                    <h3>黔江区濯水景区</h3>
                    <p>濯水古镇位于重庆市黔江区濯水镇境内，距黔江主城26公里，渝怀铁路、渝湘高速公路、国道319线穿境而过，距舟白机场26公里，交通便利。
                    濯水古镇兴起于唐代，兴盛于宋朝，明清以后逐渐衰落，是渝东南地区最富盛名的古镇之一。作为重庆旧城老街的典型，濯水古镇街巷格局保留较为完整，具有浓郁的渝东南古镇格局，它既体现了与其他城市历史街区的差异，也承载着巴文化、土家文化与汉文化的融合、传承与创新，同时码头文化、商贾文化、场镇文化相互交织。
                    濯水初称“白鹤坝”，元明之际属酉阳土司辖地。重要的商业地理位置，使濯水自古以来便成为重要的驿站和商埠，自清代后期起，该地便已成为川东南驿道、商道、盐道的必经之路。民国二十四年，人称濯水为“濯河坝”。此时，此地已商贾云集、店铺鳞次栉比。商贸的日益发达，迅速促进了当地与外界的物资交流，创造了最为繁荣昌盛的历史，甚至已居于同时期的黔江县城之上，与酉阳龙潭古镇、龚滩古镇合称“酉阳三大名镇”。<p/>
                    <br />
                    <h3>彭水县阿依河景区</h3>
                    <p>阿依河,发源于贵州省务川县分水乡,向东北蜿蜒而入重庆市彭水县境,经长旗坝、舟子沱、三江口,最后由万足乡长溪滩处注入乌江。全长13公里,其峡深谷高,河床狭窄,礁石遍布,河水清幽而景色绝美,人行其中或泛舟江上有若陶渊明误入桃花源,仿佛身在美妙的天堂,乐而忘返。从舟子沱乘舟而下,沿途可见各种各样的峡谷地貌:有状若擎天的石笋、嬉戏的猴群、庄严的石佛、深不可测的溶洞、貌似罗汉的石笋。整个阿依河彭水河段水体资源极为丰富,其中尤以七里塘河段和儿塘河河段的水体景观最为独特,江面绿水清幽,两岸翠竹环绕。
                    阿依河流域生物具有多样性,流域内有国家一、二类保护动物黑叶猴、五步蛇、金钱豹、藏猷猴等。据调查,阿依河流域有多个科属的动物95种,鸟类63种,植物169种。而在阿依河仅各类野猴就有约几百只活跃于其中。阿依河有许多奇花异草,古老的树木,如中华纹母、红豆杉等。
                    阿依河景区至开园以来,先后荣获““全国民族文化旅游新兴十大品牌”、“中国之美十大自驾游黄金线路”、重庆“巴渝新十二景”、“影响重庆旅游发展贡献奖·十大景区”、“中国旅游品牌总评榜·年度最具魅力景区品牌”、“清凉胜地”等殊荣,成为重庆生态旅游新宠。<p/>
                    <br />
                    <h3>云阳龙缸景区</h3>
                    <p>云阳龙缸风景区位于重庆市云阳县境内东南隅，紧邻湖北利川市，集天坑、峡谷、溶洞、高山草场、森林、土家风情于一体，主要景点有龙缸天坑、云端廊桥、龙洞风光、龙窟峡、岐山草场、蔈草古长城、岐阳关古道遗址、盖下坝湖泊等。其中龙缸天坑深335米，居全国第三、世界第五，龙缸天坑的坑壁由峭壁拱成，倾斜幅度近90度，这种直上直下的形态在世界上极为罕见，享有“天下第一缸”的美誉。
                    云阳龙缸风景区建在海拔1010米高悬崖上的“云端廊桥”，以“天空之花”的花瓣作为造型，廊桥上可以720°欣赏周边美景。其悬挑长度26.68米，廊桥距离地面高度718米，比美国科罗拉多大峡谷玻璃廊桥悬挑长度还长5.34米，是世界最长悬挑玻璃廊桥。<p/>
                    <br />
                    <h3>江津四面山景区</h3>
                    <p>四面山位于江津市境内，距重庆市区140千米。四面山系地质学上所谓“倒置山”，因山脉四面围绕，故名。山势南高北低，最高峰蜈蚣岭海拔1709.4米，最低处海拔560米。占地240平方千米。属中亚热带季风湿润气候，年均气温13.7℃，降水量1522.3毫米。景区景观以原始森林为基调，众多溪流、湖泊、瀑布点染于苍山绿树之间，丹霞地貌丰富其自然色彩，目不暇接的动、植物更为 景区增添盎然生机。
                    四面山的瀑布最为壮观。有大小瀑布100多处。瀑布倾泻激荡，掀起满天烟雾，轰然鸣响，数里之外也能感受到其威势。望乡台瀑布高152米，宽40米，居我国高瀑之首；水口寺瀑布高94米，悬挂在一个天然洞穴之下，景象奇特；鸳鸯瀑布比翼齐飞，撩人遐思。风景区内的洪海湖，湖水晶莹清澈，静如明镜，蜿蜒逶迤于深山峡谷、莽莽森林之中。荡舟湖上，心旷神怡。<p/>

            </div>
        </div>
    </div>
</div>
{% endblock %}