.model-details .row-4{
	Margin-top: 20px;
}

.model-details .row-5{
	border:none;
}

.paging{
	text-align:center;
}

.pagination .active a{
	background-color:#871a06;
	border-color:#871a06;
}

.model-details-product-title{
	padding:15px 0px;
	font-size:18px;
	border-bottom:1px #871a06 solid; 
	color:#871a06;
	margin-bottom:10px;
	margin-top:10px;
	text-align:center;
}